.blog {
   padding: 0 0 50px 0;
   @media screen and (max-width: $md3 + px) {
      padding: 0 0 30px 0;
   }
   &__title {
      margin: 0 0 50px 0;
      @media screen and (max-width: $md3 + px) {
         margin: 0 0 20px 0;
      }
   }
   // .blog__article-name
   &__article-name {
      font-size: 30px;
      font-weight: 500;
      display: inline-block;
      line-height: calc(44 / 30) * 100%;
      margin: 0 0 10px 0;
      color: inherit;
      transition: color 0.3s ease 0s;
      @media screen and (min-width: $md2 + px) {
         &:hover {
            color: #ff6464
         }
      }
      @media screen and (max-width: $md3 + px) {
         font-size: 26px;
      }
   }

   // .blog__items
   &__items {
   }

   // .blog__item
   &__item {
      border-bottom: 1px solid #8695A4;
      padding: 0 0 30px 0;
      margin: 0 0 30px 0;
      &:last-child {
         margin: 0 0 0 0;
      }
      @media screen and (max-width: $md3 + px) {
         margin: 0 0 25px 0;
         padding: 0 0 25px 0;
      }
   }

   // .blog__info
   &__info {
      display: flex;
      font-size: 20px;  
      margin: 0 0 10px 0;
      @media screen and (max-width: $md3 + px) {
         font-size: 16px;
      }
   }

   // .blog__date
   &__date {
   }

   // .blog__separator
   &__separator {
      margin: 0 15px;
   }

   // .blog__category
   &__category {
      color: #8695A4;
   }

   // .blog__text
   &__text {
   }
}
